.rootContainer{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    padding-left: 1%;
}

.headlineDetails {
    text-align: center;
    margin-top: 0;
    font-size:1.3vw;
    margin-bottom: 1%;
  }

  .postLists {
    font-size: 0.9vw;
  }

.btnClose {
    width: 1.5vw;
    margin: 0;
    align-self: flex-end;
    border: none;
    background-color: white;
    padding: 0;
}

.ImageIcon {
    width: 1.5vw;
    height: 1.5vw;
    align-self: left;
    align-content: left;
    margin: 0;
    padding: 0;
    border: none;
  }