.rootElement {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.detailsContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 40%;
  margin-left: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: left;
}

.UserProfile {
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    width: 60%;
    height: 10%;
    margin-left: 15%;
    margin-top: 1%;
    text-align: left;
  }

  .textDetails {
      display: flex;
      flex-direction: column;
      width: 60%;
  }

  .IconText {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 15%;
}

  .ImageProfile {
      width: 10vw;
      height: 10vw;
      margin: 2vw;
      border-radius: 3px; 
    }

    .ImageIcon {
        width: 2vw;
        height: 2vw;
        margin-right: 5px;
        margin-top: 1.5%;
      }
    

  .UserName {
      align-self: center;
      font-size:1.3vw;
      margin-bottom: 5%;
      margin-top: 2vw; 
    }

  .OtherDetails {
    margin-left: 10px;
    font-size:1vw;
    margin-top: 2%;
  }

  .btnsContainer {
      display: flex;
      flex-direction: row;
      margin-top: 1vw;
      margin-right: 0.5vw;
      align-items: flex-end;
  }

  .Buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border: lightblue;
      align-items: center;
      padding-right: 0;
      background-color: white;
      margin-left: 15%;
      text-align: center;
  }

  .btnText{
      text-align: end;
      font-size:0.8vw;
      margin-right: 2px;
      font-weight: bold;
      cursor: pointer;
      outline: none;
  }

  .btnText:hover {color: #8f99f6}

  .btnText:active {
    color: #8f99f6;
    transform: translateY(2px);
  }